apiVersion: apps/v1
kind: Deployment
metadata:
  name: requesting-k8s
  namespace: default
spec:
  replicas: 10
  selector:
    matchLabels:
      app: requesting-k8s
  template:
    metadata:
      labels:
        app: requesting-k8s
    spec:
      containers:
        - name: requesting-k8s
          image: lordjoaosouza/requesting-k8s:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
              name: web
              protocol: TCP
          resources:
            limits:
              cpu: "200m"
            requests:
              cpu: "200m"
