apiVersion: v1
kind: Service
metadata:
  name: requesting-k8s-load-balancer
spec:
  type: LoadBalancer
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: requesting-k8s
